#header {
width: 100%;
margin-top: 20px;
}

#header .logo {
font-size: 140%;
font-weight: bold;
}

#sub-header {
width: 100%;
}


#content {
margin-top: 20px;
width:100%
}

#content .mname {
font-weight: bold;
margin-right: 2px;
}

#content .time {
font-size: 90%;
margin-left: 6px;
color:#666;
}

.btn {
float:none;
margin-bottom: 34px;
}

.span-15 li {
border-bottom: 1px dashed #ddd;
margin-bottom: 0.5em;
padding-bottom: 0.2em;
}

.span-8 li {
margin-bottom: 0.5em
}